.git
*.tar.gz
*.pyc
__pycache__
/bin
/ext/*.sh
/ext/*/.git
/ext/*/data
/ext/*/test*
/ext/fastqc/Help
/ext/interop
!/ext/interop/bin/summary
!/ext/interop/bin/index-summary
/ext/ncbi-blast
!/ext/ncbi-blast/bin/blastn
!/ext/ncbi-blast/bin/tblastn
!/ext/ncbi-blast/bin/makeblastdb
/ext/quast/quast_libs/site_packages/joblib2
/ext/quast/quast_libs/site_packages/simplejson
/ext/unicycler/misc
/ext/unicycler/sample_data
/ext/unicycler/test
/scripts
/src/*/build
/src/pico
/test*
