.git
*.tar.gz
*.pyc
__pycache__
/bin
/ext/*.sh
/ext/*/.git
/ext/*/data
/ext/*/test*
/ext/alga
/ext/fastp/testdata
/ext/fastqc/Help
/ext/flye
/ext/interop
!/ext/interop/bin/summary
!/ext/interop/bin/index-summary
/ext/kneaddata/examples
/ext/kneaddata/tests
/ext/megahit
/ext/multiqc/doc
/ext/multiqc/test
/ext/ncbi-blast
!/ext/ncbi-blast/bin/blastn
!/ext/ncbi-blast/bin/tblastn
!/ext/ncbi-blast/bin/makeblastdb
/ext/quast/quast_libs/site_packages/joblib2
/ext/quast/quast_libs/site_packages/simplejson
/ext/trim-galore
!/ext/trim-galore/trim_galore
/ext/unicycler/misc
/ext/unicycler/sample_data
/ext/unicycler/test
/scripts
/src/*/build
/src/pico
/test*
