# Configuration of the dependencies to include in the QAAP
#
# This configuration is read by ./update-deps.sh when cloning and
# checking out the back-end services.
#
# To upgrade a dependency, set its desired version (commit, tag, branch)
# in this file and run ./update-deps.sh.
#
# File format: empty and commented lines are ignored; all other lines
# must have three tab-separated columns:
# - name: directory to check out, or unpack a downloaded tarball in
# - version: commit to check out, or @VERSION@ to substitute in URL
# - URL: the upstream git repository or download URL
#
# Note that the update-deps.sh script figures out from the extension
# on the URL whether the backend is a git repository or tarball download.

# Git repos
#
alga	1.0.3-3-g949e	https://github.com/swacisko/ALGA.git
fastp	v0.23.2-2-gab8c	https://github.com/OpenGene/fastp.git
fastq-utils 1.2.0	https://github.com/zwets/fastq-utils.git
flye	2.9-15-gd7db	https://github.com/fenderglass/Flye.git
# Pull fixed kneaddata from github.com/zwets until merged upstream
#kneaddata	0.10.0-11-g3f93	https://github.com/biobakery/kneaddata.git
kneaddata	0.10.0-21-g16fe	https://github.com/zwets/kneaddata.git
multiqc	v1.12-29-gbafad	https://github.com/ewels/MultiQC.git
picoline	1.4.0	https://github.com/zwets/picoline.git
skesa	skesa.2.4.0_saute.1.3.0_2	https://github.com/ncbi/SKESA.git
trim-galore 0.6.7-6-g0d76   https://github.com/FelixKrueger/TrimGalore.git
unicycler	v0.5.0-2-g96ffe	https://github.com/rrwick/Unicycler.git
unfasta 1.3.0	https://github.com/zwets/unfasta.git

# Tarball and zip downloads
# 
fastqc	0.11.9	https://www.bioinformatics.babraham.ac.uk/projects/fastqc/fastqc_v@VERSION@.zip
fastq-screen	0.15.2	https://github.com/StevenWingett/FastQ-Screen/archive/refs/tags/v@VERSION@.tar.gz	
interop	1.1.23	https://github.com/Illumina/interop/releases/download/v@VERSION@/InterOp-@VERSION@-Linux-GNU.tar.gz
ncbi-blast	2.12.0	https://ftp.ncbi.nlm.nih.gov/blast/executables/blast+/@VERSION@/ncbi-blast-@VERSION@+-x64-linux.tar.gz
quast	5.1.0rc1	https://github.com/ablab/quast/releases/download/quast_@VERSION@/quast-@VERSION@.tar.gz
spades	3.15.4	http://cab.spbu.ru/files/release@VERSION@/SPAdes-@VERSION@-Linux.tar.gz
trimmomatic	0.39	https://github.com/usadellab/Trimmomatic/files/5854859/Trimmomatic-@VERSION@.zip

# vim: sts=4:sw=4:ai:si
